#content{
	text-align: left;
	padding-top: 25%;
	color:white ;
	font-family: 'Mali', cursive ;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 20px rgba(0,0,0,0.2) ;

}

html{
	height: 100%;
}
body{
	background:url(https://images.unsplash.com/photo-1536053324042-8c5ddee5b17d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4af605a5168a89f65d9e24d1a3b1ae3b&auto=format&fit=crop&w=1050&q=80);
	background-size: cover;
	background-position: center;
	font-family: 'Mali', cursive ;
}

h1{
	font-weight: 700;
	font-size: 5em;
}
h3{
	font-weight: 400;

}

hr{
	width: auto;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}